* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px; }

@media (min-width: 37.5em) {
  .hide-phablet {
    display: none; } }

@media (min-width: 50em) {
  .hide-tablet {
    display: none; } }

@media (min-width: 64em) {
  .hide-laptop {
    display: none; } }

.show-phablet {
  display: none; }
  @media (min-width: 37.5em) {
    .show-phablet {
      display: block; } }

.show-tablet {
  display: none; }
  @media (min-width: 50em) {
    .show-tablet {
      display: block; } }

.show-laptop {
  display: none; }
  @media (min-width: 64em) {
    .show-laptop {
      display: block; } }

.clearfix:after {
  content: '';
  clear: both;
  display: block; }

.row {
  margin: 0 -10px; }

[class*='col-'] {
  padding: 0 10px;
  min-height: 1px; }
  [class*='col-'].padding-off {
    padding: 0; }

@media (max-width: 37.5em) {
  .col-mobileonly-1-2 {
    width: 50%;
    float: left; }
    .col-mobileonly-1-2_padding-none {
      padding: 0; }
  .col-mobileonly-1-3 {
    width: 33.33%;
    float: left; }
    .col-mobileonly-1-3_padding-none {
      padding: 0; } }

@media (min-width: 37.5em) {
  .col-phablet-1-2 {
    width: 50%;
    float: left; }
    .col-phablet-1-2_padding-none {
      padding: 0; }
  .col-phablet-1-3 {
    width: 33.33%;
    float: left; }
    .col-phablet-1-3_padding-none {
      padding: 0; }
  .col-phablet-1-4 {
    width: 25%;
    float: left; }
  .col-phablet-1-5 {
    width: 20%;
    float: left; }
  .col-phablet-1-5_right {
    width: 20%;
    float: right; }
  .col-phablet-2-3 {
    width: 66.66%;
    float: left; }
  .col-phablet-3-4 {
    width: 75%;
    float: left; } }

@media (min-width: 50em) {
  .col-tablet-1-2 {
    width: 50%;
    float: left; }
  .col-tablet-1-3 {
    width: 33.33%;
    float: left; }
  .col-tablet-3-4 {
    width: 75%;
    float: left; }
  .col-tablet-2-3 {
    width: 66.66%;
    float: left; }
  .col-tablet-2-5 {
    width: 40%;
    float: left; }
  .col-tablet-3-5 {
    width: 60%;
    float: left; }
  .col-tablet-1-4 {
    width: 25%;
    float: left; }
  .col-tablet-1-5 {
    width: 20%;
    float: left; }
  .col-tablet-4-5 {
    width: 80%;
    float: left; }
  .col-tablet-1-6 {
    width: 16.6%;
    float: left; } }

@media (min-width: 64em) {
  .col-laptop-1-2 {
    width: 50%;
    float: left; }
  .col-laptop-1-3 {
    width: 33.33%;
    float: left; }
  .col-laptop-3-4 {
    width: 75%;
    float: left; }
  .col-laptop-2-3 {
    width: 66.66%;
    float: left; }
  .col-laptop-2-5 {
    width: 40%;
    float: left; }
  .col-laptop-3-5 {
    width: 60%;
    float: left; }
  .col-laptop-2-6 {
    width: 30%;
    float: left; }
  .col-laptop-1-4 {
    width: 25%;
    float: left; }
  .col-laptop-1-5 {
    width: 20%;
    float: left; }
  .col-laptop-4-5 {
    width: 80%;
    float: left; }
  .col-laptop-1-6 {
    width: 16.6%;
    float: left; }
  .col-laptop-1-8 {
    width: 12.5%;
    float: left; }
  .col-laptop-5-6 {
    width: 83.3%;
    float: left; } }

@media (min-width: 70em) {
  .col-desktop-1-6 {
    width: 16.6%;
    float: left; } }

.float-right {
  float: right; }
